/* =========================
   1) 폰트 (Pretendard 전 가중치)
========================= */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

/* =========================
   2) 노말라이즈 (한 번만)
========================= */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { font-family: 'Pretendard';}
a { color: inherit; text-decoration: none; }
ul, li { list-style: none; }


.sec-1 {
    height: 100vh;
    position: relative;
}

/* 헤더 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.3s ease;
  background: transparent;
  z-index: 1000;
}

.header.white {
  background: #fff;
  border-bottom: 1px solid #eee;
}


/* 메뉴 */
.menu {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
  margin-right: 500px;
}

.menu-item {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  transition: color 0.3s ease;
}

.header-util {
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}

.header-util > .util-item {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
}

.header-util > .util-item p {
  font-size: 18px;
  font-weight: 300;  
}

.header-util > .util-lang {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 5px;
}

.header.white .menu-item {
  color: #222;
}

.header.white .header-util p {
  color: #000;
}



/* 🔥 드롭다운 풀폭 레이어 */
.dropdown-layer {
  position: fixed;
  top: 130px; /* 헤더 높이 */
  left: 0;
  width: 100%;
  background: #fff;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-15px);
  transition: all 0.35s ease;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

/* 내부 영역 (메뉴별) */
.dropdown-content {
  display: none;
  padding: 40px 60px;
  display: flex;
  gap: 60px;
  font-size: 14px;
  color: #333;
}

.swiper {
      width: 100%;
      height: 100%;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


.swiper-container,
.swiper-slide {
  background: transparent !important;
}

.swiper-slide {
  transition-property: opacity !important;
  transition-duration: 1.6s !important;
  transition-timing-function: ease-in-out !important;
}

.sec-1-title {
    position: absolute;
    top: 40%;
    left: 15%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-title {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
}

.sub-title {
    font-size: 24px;
    font-weight: 400;
    color: #D4D4D8;
}

.view-more {
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

/* 2섹션 */
.sec-2 {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
}

.sec-2-img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	clipPath: inset(30% 30% 30% 30% round 50%);
}

.sec-2-title {
    z-index: 9998;
    position:absolute;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-title-2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}
.sub-title-2 {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

/* 배경 어둡게 overlay */
.sec-2-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.87); /* 원하는 어두움 정도 */
  opacity: 0;                   /* 처음엔 안 보임 */
  transition: none;
  z-index: 1;
}

/* 두 번째 섹션 콘텐츠 */
.sec-2-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  opacity: 0;     /* 처음엔 보이지 않음 */
  transform: translateY(40px);
  gap: 40px;
  z-index: 555;
}

.main-title-3 {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  margin-top: 100px;
}
.main-title-3 p {
  color: #B0004D;
}

.sub-title-3 {
  font-size: 18px;
}

.content-circles {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.circle {
  position: relative;         /* 반드시 필요 - 글자 올리기 위한 기준 */
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;          /* 원 밖으로 내용 나가지 않게 */
  
}



.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
    /* 기본 어두운 상태 */
  filter: brightness(0.5);
  transition: transform 0.6s ease, filter 0.6s ease;
  cursor: pointer;
}

.circle:hover img {
  transform: scale(1.06);    /* 부드러운 확대 */
  filter: brightness(1);      /* 밝게 */
}

.circle p {
  position: absolute;
  top: 50%;               /* 글자 위치 조절 */
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 24px;
  font-weight: 600; 
  pointer-events: none;       /* 마우스 방해 방지 */
  text-shadow: 0 0 10px rgba(0,0,0,0.6); /* 배경 밝을 때 글자 선명 */
}
.view-more-2 {
  font-size: 20px;
  padding-top: 60px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.sec-3 {
  height: 686px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.main-title-4 {
  font-size: 48px;
  font-weight: 600;
}
.button-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-1 div {
  font-size: 20px;
  font-weight: 600;
}


.sec-4 {
  height: 898px;
  background-color: #fff;
  display: flex;
  gap: 137px;
  padding-top: 100px;
  padding-left: 120px;
  padding-right: 120px;
}

/* LEFT */
.sec-4-menu {
  width: 400px;
}

.sec-4-title {
  width: 100%;
  margin-bottom: 50px;
}
.sub-title-5 {
  font-size: 16px;
  font-weight: bold;
  color: #8D8D8D;
  margin-bottom: 5px;
}
.main-title-5 {
  font-size: 38px;
  font-weight: bold;
  white-space: nowrap;
}
.tab {
  width: 250px;
  padding: 12px 15px;
  margin-bottom: 12px;
  border-radius: 999px;
  border: 1px solid #D5D5D5;
  background: #fff;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  color: #D5D5D5;
}

.tab.active {
  background: #000;
  color: #fff;
  border-color: #000;
}



/* RIGHT 영역 기준점 */
.sec-4-content {
  flex: 1;
  position: relative;
  min-width: 0;
}


/* Swiper 전환 */
.swiper-wrap {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.swiper-wrap.active {
  opacity: 1;
  visibility: visible;
  position: absolute;
  pointer-events: auto;
}
.over-veiw {
 text-align: right;
 cursor: pointer;
 font-size: 15px;
 font-weight: 500;
 margin-bottom: 20px;
}

/* Swiper 필수 */
/* =========================
   sec-4 product swiper
========================= */
.sec-4 .swiper {
  width: 100%;
  overflow: hidden;
}

.sec-4 .swiper-wrapper {
  display: flex;
}

.sec-4 .swiper-slide {
  height: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.swiper-img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6FBFF;
  margin-bottom: 20px;
}

.swiper-img img {
  width: 260px;
  height: 330px;
}

.swiper-text {
  text-align: left;
  margin-bottom: 20px;
}

/* 5섹션 */
.service-section {
  width: 100%;
  height: 100vh;
}

.service-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.service-item {
  flex: 1;
  transition: flex 0.5s ease;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.service-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25); /* ← 여기서 밝기 조절 */
  z-index: 1;
}

.service-item:hover {
  flex: 2;
}

.service-text {
  position: absolute;
  left: 30px;
  top: 435px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 999;
}

.service-item:hover .service-text {
  opacity: 1;
}

.service-item:nth-child(1) { background-image: url(images/sec-5-img\ \(4\).png); }
.service-item:nth-child(2) { background-image: url(images/sec-5-img\ \(1\).png); }
.service-item:nth-child(3) { background-image: url(images/sec-5-img\ \(2\).png); }
.service-item:nth-child(4) { background-image: url(images/sec-5-img\ \(3\).png); }
.service-item:nth-child(5) { background-image: url(images/sec-5-img\ \(5\).png); }

.text-1 {
  font-size: 20px;
  font-weight: 600;
}

.text-2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 5px;
}
.center-text {
  display: flex;
  align-items: center;
}
.center-text p {
  color: #B0004D;
  margin-left: 10px;
  font-size: 58px;
}

.text-3 {
  font-size: 20px;
  font-weight: 300;
}

.sec-5-button {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

/* 6섹션 */

.sec-6 {
  height: 900px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.sec-6-main_text {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sec-6-sub_text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #707070;
}

.sec-6-mark:nth-child(1) {position: absolute; left: 120px; top: 455px;}
.sec-6-mark:nth-child(2) {position: absolute; left: 270px; top: 80px;}
.sec-6-mark:nth-child(3) {position: absolute; right: 55px; top: 365px;}
.sec-6-mark:nth-child(4) {position: absolute; right: 345px; top: 470px;}
.sec-6-mark:nth-child(5) {position: absolute; right: 335px; top:95px;}